.*
*.a
*.app
*.aux
*.backup
*.bak
*.brf
*.exe
*.dll
*.dylib
*.gch
*.glo
*.idx
*.kilepr
*.la
*.lai
*.log
*.lib
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lo
*.lof
*.lot
*.maf
*.mod
*.mtc
*.mtc1
*.o
*.obj
*.out
*.pch
*.pdf
*.pdf_tex
*.slo
*.so
*.swp
*.synctex.gz
*~
*.fls
*.fdb_latexmk

